.container {
    height: 400px; /* Set a fixed height for the container */
    overflow-y: scroll; /* Enable vertical scrolling */
  }
  
  .goal-card {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .goal-card mat-card-title {
    font-size: 20px;
  }
  
  .goal-amount {
    font-size: 18px;
    font-weight: bold;
  }
  
  .target-date {
    font-size: 14px;
    color: #999;
  }
  
  .progress-bar-container {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .progress-bar-label {
    margin-left: 10px;
    font-size: 14px;
    color: #999;
  }
  
  /* Customize the color of the progress bar */
  .mat-progress-bar-fill::after {
    background-color: #2196f3;
  }
  

  .btn-create {
    padding: 10px 20px;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }