<div class="popup">
  <h1 class="popup__header">Edit Earning {{user}}</h1>
  <form (ngSubmit)="onSubmit()" class="popup__form">
    <div class="form-group">
      <label for="amount" class="popup__label">Enter Earning Amount:</label>
      <div class="popup__input-container">
        <span class="popup__currency">₹</span>
        <input type="amount" [(ngModel)]="amount" name="amount" class="popup__input" id="amount" aria-describedby="emailHelp" placeholder="{{data.earningAmount}}">
      </div>
      <p *ngIf="!amount && submitted" class="warning-message">Amount is required</p>
    </div>
    <div class="form-group">  
      <label for="date" class="popup__label">Enter Earning Date:</label>
      <input type="date" [(ngModel)]="date" name="date" class="popup__select" id="date" [value]="data.earningDate | date:'yyyy-MM-dd'">
      <p *ngIf="!date && submitted" class="warning-message">Date is required</p>
    </div>
    
      <button type="submit" class="popup__button popup__button--create">Edit</button>
      <button class="popup__button popup__button--cancel" (click)="onCancelClick()">Cancel</button>
    
  </form>
</div>
