/* app.component.css */

.button {
    background-color: #007aff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    width: 400px;
  }
  
  .popup__header {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    text-align: center;
  }
  
  .popup__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .popup__label {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    display: block;
    margin-bottom: 5px;
  }
  
  .popup__select {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #f2f2f2;
  }
  
  .popup__input-container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .popup__currency {
    font-size: 18px;
    color: #333333;
  }
  
  .popup__input {
    font-size: 18px;
    border: none;
    margin-left: 5px;
    width: 100%;
    background-color: transparent;
  }
  
  .popup__button {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 5px
  }
  
  
  .popup__button--create {
    background-color: #007aff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    .popup__button--cancel {
    background-color: #cccccc;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    .popup__button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .popup__button:active {
    transform: translateY(0);
    box-shadow: none;
    }
    

    .warning-message {
      font-size: 14px;
      color: red;
      margin-top: 5px;
    }
    